/* Parallax effect based on code from: https://alligator.io/css/pure-css-parallax/
*/

/* ------------- parallax scrolling ------------- */
.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.section {
  position: relative;
  height: 100vh;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transform: translateZ(-1px) scale(1.5);
  background-size: cover;
  z-index: -1;
}

.static {
  background: #FFF;
}

.end {
  background: #574162;
  /*height: 360px;*/
}

.bg1::after {
  background-image: url("../images/sf_tiny.png");
}

.bg2::after {
  background-image: url("../images/sf2_tiny.png");
}

@media (max-width: 800px) {
  #about {
    min-height: 1000px;
  }
}
