/* Define colors */
:root {
  --dark-purple: #574162;
  --transparent-dark-purple: rgba(124,98,129,0.7);
  --medium-purple: #9974af;
  --light-purple: #ccb9d7;
  /*--muted-dark-purple: #967f97;*/

  --white: #FFF;
  --dark-grey: #232323;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--dark-purple);
}

a {
  text-decoration: none;
}

/* ------------- navigation ------------- */
nav {
  color: var(--white);
  clear: both;
  background-color: transparent;
  z-index: 2;
  margin: 0px;
  padding-bottom: 5px;
  width: 100%;
  height: 50px;
  position: fixed;
  overflow: hidden;
}

nav.scroll {
  background-color: var(--transparent-dark-purple);
}

nav a {
  font-size: 16px;
  color: inherit;
  text-transform: uppercase;
  padding-right: 30px;
}

nav a:hover, nav a:active {
  color: var(--light-purple);
}

a#logo {
  display: inline-block;
  font-weight: 600;
  padding-left: 30px;
  margin-top: 17px;
}

.nav-menu {
  display: inline-block;
  margin: 0;
  margin-top: 16px;
  padding: 0;
  list-style: none;
  float: right;
}

nav ul li {
  display: inline-block;
}

i.fa-bars, i.fa-times {
  display: none;
}

nav li.first-nav-item {
  display: none;
}

nav div.backdrop {
  display: none;
}

/* Mobile navigation */
@media (max-width: 600px) {
  i.fa-bars {
    z-index: 5;
    display: inline-block;
    position: absolute;
    top: 14px;
    right: 30px;
  }

  i.fa-bars:hover {
    color: var(--light-purple);
  }

  nav {
    height: 44px;
  }

  a#logo {
    margin-top: 15px;
  }

  .nav-menu {
    display: none;
  }

  /* Activated mobile menu */
  nav.active ul.nav-menu {
    z-index: 4;
    display: block;
    background-color: var(--dark-purple);
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    margin: 0;
    padding: 70px 30px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  nav.active li {
    display: block;
    padding: 18px 0;
    border-top: 1px solid var(--light-purple);
  }

  nav.active li.first-nav-item {
    display: block;
    border-top: none;
  }

  nav.active li a {
    font-size: 20px;
  }

  nav.active div.backdrop {
    z-index: 3;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--transparent-dark-purple);
  }
}




/* ------------- home section ------------- */
h1, h2{
  color: var(--white);
  text-align: center;
  margin: inherit;
  padding: inherit;
}

h1 {
  font-family: "Pacifico", serif;
  font-weight: normal;
  font-size: 144px;
  padding-top: 22vh;

  position: relative;
  top: 0.28em;
  right: 0.1em;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
}

img#scroll {
  display: block;
  margin: 23vh auto 0vh auto;
}

@media (max-width: 600px) {
  h1 {
    font-size: 100px;
  }

  h2 {
    margin-top: 10px;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 84px;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 24px;
  }
}

/* ------------- heading styling ------------- */

h3 {
  text-align: center;
  margin: inherit;
  font-weight: 600;
  text-transform: uppercase;

  font-size: 52px;
}

.section h3 {
  padding-top: 90px;
  padding-bottom: 20px;
}

/* ------------- work section ------------- */

button {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: var(--dark-purple);
  background-color: transparent;
  border: 3px solid var(--dark-purple);
  border-radius: 10px;
  padding: 12px 24px;
  margin-top: 20px;
  width: 100%;
}

button:hover {
  background-color: var(--light-purple);
}

button:focus {
  outline: 0;
}

/* ------------- about section ------------- */
p.about-paragraph {
  color: var(--dark-grey);
  line-height: 1.4em;
  margin: 0 0 1em 0;
}

h4 {
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
  padding: 0px 0px 5px 0px;
}

div#about-links {
  margin: 1.5em 0 2.5em 0;
}

div#about-links a {
  display: block;
  color: var(--dark-purple);
  font-weight: 600;
  letter-spacing: .02em;
  margin: 0 0 .7em 0;
}

div#about-links a:hover, div#about-links a:active {
  color: var(--medium-purple);
}

img#about-pic {
  margin: 0;
}

/* ------------- contact section ------------- */
div#contact {
  color: var(--white);
}

i.fa-linkedin-in, i.fa-envelope, i.fa-twitter, a.contact-link {
  display: block;
  text-align: center;
}

i.fa-linkedin-in, i.fa-envelope, i.fa-twitter {
  font-size: 28px;
  padding: 12px;
}

a.contact-link {
  color: var(--white);
  margin: 12px 0;
}

a.contact-link:hover, a.contact-link:active {
  color: var(--medium-purple);
}

/* ------------- subpages ------------- */
.page-wrapper {
    padding: 120px 0;
}

.page-wrapper h3 {
    padding-bottom: 24px;
}


